<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>{% block title %}About{% endblock %}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    


    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Theme CSS -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet"" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> 
                </button>
                <a class="navbar-brand" href="#page-top">CP Flask App</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/python_apps">Python Apps</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}
    <!-- Header -->
    <header>
    {% block content%}
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/26113900_10155244205237525_7525149394624463585_n.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_ohc=sGPY8GKHyhsAX-reR4e&_nc_ht=scontent-sea1-1.xx&oh=78564ef132837acf1a33d8ffc169fb63&oe=5EE715A7" alt="" width="304"height="236">                                                    
                    <div class="intro-text">
                        <h1 class="name">Welcome Sweet {{name}}!</h1>
                        <hr class="star-light">
                        <span class="skills">You are my Best Friend and I Miss You</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    
    <section id="interests">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Interests</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 interests-item">
                    <a href="https://www.9marks.org/journal/biblical-theology/">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://danieltrainingnetwork.org/wp-content/uploads/2010/08/biblical-theology.jpg"_blank" class="img-responsive" alt="Chesstastic">
                    </a>
                </div>
                <div class="col-sm-4 interests-item">
                    <a href="https://www.thespruce.com/beautiful-ranunculus-varieites-4146973">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://i.pinimg.com/originals/88/12/2d/88122da0eb7c428f64d23ed9db8d26a0.jpg" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 interests-item">
                    <a href="https://www.bible.org" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://pictures.abebooks.com/isbn/9780737501421-us.jpg" class="img-responsive" alt="Circus tent">
                    </a>
                </div>      
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! I am Larry! I am learning Python programming and I am working hard at getting a good job so that I can take care of my Beautiful Elvira!</>
                </div>
                <div class="col-lg-4">
                    <p>I want to say hello to the most beautiful girl in the world! Elvira, you are so special to me and I love you with all my heart!</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="text-center">
    
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>My heart lives in
                            <br>Elvira's heart</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/larry.j.snellings" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCx1DOx6hoSJLlVQfcrVg6lw" class="btn-social btn-outline" target="_blank"><span class="sr-only">YouTube</span><i class="fa fa-fw fa-youtube"></i></a>
                            </li>
                            <li>
                       
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Clever Programmer - CP Flask Portfolio 2017 - Created on C9
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
 

</body>


</html>

   
